<html>
    <body bgcolor='white'>
<!-- Charlist-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='static/Chart.min.js'></script>
  <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


        <center>

        <h1> WATER CONSUMPTION DETECTION </h1><br>
<div class="col-sm-6 col-sm-offset-3">

            <form method="POST", action="{{url_for('ln_')}}">

      <div class="form-group">
          <label for ="forward" > Forward </label>
        <input type="text" name ='forward' class="form-control" value = {{request.form['forward']}} id="Forward" placeholder="Forecast forward">
      </div>
                 <div class="form-group">
                               <label for ="backward" > Backward </label>

        <input type="text" name ='backward' class="form-control" value = {{request.form['backward']}} id="Backward" placeholder="Forecast backward">
      </div>
                  <div class="form-group">
                                <label for ="forward" > x </label>

        <input type="text" name ='x-value' class="form-control" id="x" value = {{request.form['x-value']}} placeholder="Enter x to predict y ">
      </div>
                 <div class="form-group">
                     <label for ="forward" > y </label>
        <input type="text" name ='y-value' class="form-control" id="y" value = {{request.form['y-value']}} placeholder="Enter y to predict x ">
      </div>


                <input type="submit" , value='predict!'>
                         <a href='/plot'>See the plot</a>

            </form>

<br>

       New x array with forecast val is: {{x_new}} <br>

<br>

       New y array with forecast val is: {{y_new}} <br>




    <br>

       X predicted based on y is {{x_pred}} <br>

 <br>

       Y predicted based on x is {{y_pred}} <br>


    <br>

        Found formula:  {{a}}*ln(x)+ ({{(b)}})  <br>


        </div>
            </div>


    <div class="ct-chart ct-perfect-fourth"></div>

            <script>


</script>

        </center>




    </body>
</html>